version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - run: npm --version
      - run:
          name: update-npm
          command: sudo npm install -g npm
      - run: npm --version
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: install-npm-packages
          command: npm ci
      - run:
          name: bootstrap
          command: npm run bootstrap -- --ci
      - run:
          name: build
          command: npm run build
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
  test:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - run: npm --version
      - run:
          name: update-npm
          command: sudo npm install -g npm
      - run: npm --version
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: install-npm-packages
          command: npm ci
      - run:
          name: bootstrap
          command: npm run bootstrap -- --ci
      - run:
          name: test
          command: npm test
